<div class="navbar navbar-default navbar-static-top" role="navigation" [style.opacity]= "opac" (mouseenter) = "mouseenter()" (mouseleave) = "mouseleave()">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      <a class="navbar-brand text-hide logo" href="https://www.kelltontech.com" target="_blank" >Kellton Tech
          </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active">
          <a routerLinkActive='active' routerLink='/' [style.color] = "'black'">HOME</a>
        </li>
        <li><a href="#">about</a></li>
        <li class="dropdown"  *ngIf = "role == SA">
    <a class="dropdown-toggle" data-toggle="dropdown" href = "#">Dashbord
    <span class="caret"></span></a>
        <!--<li class="dropdown"><a href="#" class="dropdown-toggle">something <b class="caret"></b></a>-->
          <ul class="dropdown-menu">
            <li class="dropdown-header">admin</li>
            <li>
              <a routerLinkActive='active' routerLink='/admin'>Update admins and users</a>
            <li>
              <a href="#">admin2</a></li>
            <li class="dropdown-header">heading2</li>
            <li><a href="#">123</a></li>
            <li><a href="#">234</a></li>
          </ul>
        </li>
        <li *ngIf = "!LoginLogout.isLoggedIn()">
          <a routerLinkActive='active' routerLink='/login'>Login</a>
        </li>
        <li *ngIf = "LoginLogout.isLoggedIn()" >
          <a routerLinkActive="active"  (click)="Logout()" routerLink='/'>Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>
