<div class="footer">
  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" [style.opacity]="opac" (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()">
    <div>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
        </div>
        <div class="navbar-collapse collapse">
          <div class="col-md-4">
            <div class="col-sm-6">
              <!-- A link towards twitter account and github account using navigation bar. -->
              <a class="nav-link" href="https://twitter.com/divya2424" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
            </div>

            <div class="col-sm-6">
              <a class="nav-link" href="https://github.com/kartikchawla22/KnowledgeBase" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
            </div>
          </div>
          <!-- A link towards contacts, about and terms using navigation bar. -->
          <div class="col-md-4">
            <div class="col-sm-4">
              <a class="nav-link" routerLink="/contacts" routerLinkActive="active">Contacts</a>
            </div>
            <div class="col-sm-4">
              <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
            </div>
            <div class="col-sm-4">
              <a class="nav-link" routerLink="/terms" routerLinkActive="active">Terms</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
