.testimonial-group>.row {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  
}

.testimonial-group>.row>.container {
  display: inline-block;
  float: none;
 
}


.container {
  color: white;
  font-size: 20px;
  padding-bottom: 70px;
  padding-top: 70px;
  background: rgba(0, 0, 0, 0.0);
  
}

.container:nth-child(3n+1) {
  
  background: rgba(0, 0, 0, 0);
}

.container:nth-child(3n+2) {
  background: rgba(0, 0, 0, 0);
}

.container:nth-child(3n+3) {
 background: rgba(0, 0, 0, 0);
}


::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  opacity: 0.5
}
