<!-- This give information about our website. -->
<hr>
<h1 [style.color]="'lightgrey'" align="center">About</h1>
<hr>
<div class="container-fluid" style="background-color:black;color: grey;">
  <h4 font-family:courier>Knowledge-Based Systems is an international, interdisciplinary and applications-oriented journal. This journal focuses
    on systems that use knowledge-based (KB) techniques to support human decision-making, learning and action;emphases the
    practical significance of such KB-systems;
  </h4>
  <h4 font-family:courier>its computer development and usage; covers the implementation of such KB-systems: design process, models and methods, software
    tools, decision-support mechanisms, user interactions, organizational issues,knowledge acquisition and representation,
    and system architectures. :</h4>
</div>
