<div class="table-responsive">
  <table class="table table-hover">
    <thead [style.color]="'lightgrey'">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone_Number</th>
      </tr>
    </thead>
    <tbody [style.color]="'lightslategray'">
      <tr>
        <td>Divya</td>
        <td>Divya.jain@kelltontech.com</td>
        <td>0987654321</td>
      </tr>
      <tr>
        <td>Yatika</td>
        <td>yatika.tyagi@kelltontech.com</td>
        <td>9207659871</td>
      </tr>
      <tr>
        <td>Akash</td>
        <td>akash.varshney@kelltontech.com</td>
        <td>873456219</td>
      </tr>
      <tr>
        <td>Kartik</td>
        <td>kartik.chawla@kelltontech.com</td>
        <td>9882527868</td>
      </tr>
    </tbody>
  </table>
</div>
