<hr>
<h1 [style.color]="'lightgrey'" align="center">Terms And Condition</h1>
<hr>

<!-- This will give terms and condition of our website. -->
<div class="container-fluid" style="background-color:black;color: grey;">

  <h4 font-family:courier>Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by
    the following terms and conditions of use, which together with our privacy policy govern [business name]'s relationship
    with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use
    our website.
  </h4>

  <h4 font-family:courier>The use of this website is subject to the following terms of use:</h4>
  <h4 font-family:courier>The content of the pages of this website is for your general information and use only. It is subject to change without
    notice.</h4>
  <h4 font-family:courier>Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence.</h4>

</div>
