<form>
    <button (click)="d(slid, slidval)">-</button>
  
  <input  list= "scale" for="slidervalue" type="range" min = "1" max = "101" step = {{step}} oninput="slidervalue.value = Slider.value" name="Slider" #slid>
  <datalist id = "scale">
<option *ngFor="let item of items; let i=index">{{i*5}}</option>
  </datalist>
  <button (click)="increase(slid, slidval)">+</button>
  <input  step = {{step}} type="number" for="Slider" max = "101" min = "1" oninput="Slider.value = slidervalue.value" name="slidervalue" #slidval>
</form>
