<form>
    <button (click)="d(slid, slidval)">-</button>
  
  <input value="0" list= "scale" for="slidervalue" type="range"  min = "0" max = "100" step = "0" oninput="slidervalue.value = Slider.value" name="Slider" #slid>
  
  <button (click)="increase(slid, slidval)">+</button>
  <input  step = "2" type="number" for="Slider" max = "100" min = "0" oninput="Slider.value = slidervalue.value" name="slidervalue" #slidval>
<!--<datalist id = "scale">
<option *ngFor="let item of items; let i=index">{{i*5}}</option>
  </datalist>-->
</form>
